
* {
  box-sizing: border-box;
	padding: 0;
  margin: 0;
}

body {
  background-color: #0e0d0d;
  color:whitesmoke;
}

#wrapper {
  width: 60%;
  margin-left:auto;
  margin-right:auto;
}

/*

--- HEADER SECTION ---

*/

header {
  margin-top:3em;
}

#top-bar {
  width: 100%;

  display: flex;
  justify-content:flex-start;
  align-items: center;
}

#logo {
  padding:0.5em;
}

#logo a {
  text-decoration: none;
  color: whitesmoke;
}

#logo a:hover {
  color: #11a83f;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

nav a {
  display: block;
  color:whitesmoke;
  text-align: center;
  text-decoration: none;
  border-bottom:3px solid transparent;


  padding:1em 2em 1em 2em;
}

nav a:hover {
  border-bottom: 3px solid #11a83f;
}

nav a.active {
  border-bottom: 3px solid whitesmoke;
}

/*

--- MAIN SECTION ---

*/

main {
  border:2px solid green;

  margin-top:3em;
  margin-bottom: 2em;
}

main p {
  line-height: 1.5;
}

#featured-posts {
  margin-top:3em;
}

#featured-cards {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 1.7em;
  font-weight: bolder;
}

.card {
  border: 2px solid mediumpurple;

  display: grid;
  grid-template: auto auto / auto auto;
  margin: 1em;

  max-width: 40%;
  max-height:8em;
}

.card p {
  line-height: 1;
  overflow:hidden;
  text-overflow:ellipsis;
}

.card-title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  margin:0.25em;
}

.date {
  font-weight: lighter;
}

.subtitle {
  font-weight: bolder;
}

.card-text {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  margin-left:0.25em;
}

.card-image {
  grid-column: 1 / 2;
  grid-row: 1 / 3;

  height: 8em;
  width: 16em;
  background-color: red;
}

/*

--- FOOTER SECTION ---

*/

footer {
  border:2px solid red;

  
}